@font-face {
    font-family: "PixelifySans-SemiBold";
    src: url(../assets/fonts/Pixelify_Sans/PixelifySans-SemiBold.ttf)format(truetype);
}

@font-face {
    font-family: "Daydream";
    src: url(../assets/fonts/daydream_3/Daydream\ DEMO.otf)format(truetype);
}

body {
    background-image: url('../assets/images/diff-bg.png');
    background-size: cover;
    background-position: center;
    background-color: #437F97;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PixelifySans-SemiBold;
    min-height: 100vh;
}

.contenedor {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdf0d5a8;
    padding: 40px 40px;
    border: 50px solid;
    border-radius: 10%;
    border-image: url(../assets/images/border-2.png) 33% round;
    min-width: 400px;
}

h1 {
    font-family: Daydream;
    color: #437F97;
    text-align: center;
    margin: 0px;
}

.informacion {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    width: 100%;
}

.niveles-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.nivel-btn {
    font-family: PixelifySans-SemiBold;
    font-size: 130%;
    padding: 10px 20px;
    background-color: #FDF0D5;
    color: #437F97;
    border: 10px solid;
    border-radius: 15%;
    border-image: url(../assets/images/border-7.png) 33% round;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s, border-color 0.2s;
}

.nivel-btn:hover, .nivel-btn.selected {
    background-color: #01295F;
    color: #FDF0D5;
    border-image: url(../assets/images/border-9.png) 33% round;
    transform: scale(1.1);
}

.botones {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button {
    font-family: PixelifySans-SemiBold;
    font-size: 140%;
    background-color: #849324;
    color: #FDF0D5;
    border: 25px solid;
    border-radius: 25%;
    border-image: url(../assets/images/border-1.png) 33% round;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

button:hover {
    background-color: #FD151B;
    border-image: url(../assets/images/border-3.png) 33% round;
    transform: scale(1.1);
}

a {
    text-decoration: none;
}